<section class="section-about" id="about">
  <div class="container">
    <p>tradition and love</p>
    <h2>how it’s made?</h2>
    <picture>
      <source
        srcset="
          ../images/how-its-made/web/cow-mobail-280-min.webp 1x,
          ../images/how-its-made/web/cow-mobail-560-min.webp 2x
        "
        type="image/webp"
      />
      <img
        srcset="
          ../images/how-its-made/web/cow-mobail-280-min.webp 1x,
          ../images/how-its-made/web/cow-mobail-560-min.webp 2x
        "
        src=""
        alt="ноутбук"
        width="370"
        height="294"
      />
      <p>
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </p>
      <p>
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt. Aliquam erat volutpat. Aenean accumsan.
      </p>
    </picture>
  </div>
</section>
