<div class="backdrop-about is-hidden-about" data-modal-about>
  <div class="modal-about">
    <h3 class="modal-about__title">the power of milk</h3>
    <p class="modal-about__label">the best milk from happy cows</p>
    <p class="modal-about__text">
      ipsum dolor sit amet consectetur adipisicing elit. Nostrum voluptatum aut
      fugiat aspernatur sapiente expedita cum autem quisquam nemo commodi
      perferendis ab repudiandae ipsa, ea ipsam, ad harum voluptates eligendi?
      Veritatis voluptatum incidunt molestiae praesentium temporibus dicta ut
      blanditiis excepturi voluptas, error necessitatibus eius veniam aliquid
      fugiat modi asperiores id tempora similique magnam voluptate
    </p>
    <p class="about-label-list">our traditions:</p>
    <ul class="about-list">
      <li class="about-list__item">
        <p class="about-list__text">
          <span class="about-list__number">1)</span>Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Nisi, optio atque consequuntur facilis
        </p>
      </li>
      <li class="about-list__item">
        <p class="about-list__text">
          <span class="about-list__number">2)</span>Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Nisi, optio atque consequuntur facilis
        </p>
      </li>
      <li class="about-list__item">
        <p class="about-list__text">
          <span class="about-list__number">3)</span>Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Nisi, optio atque consequuntur facilis
        </p>
      </li>
    </ul>
    <button class="modal-about__button" type="button" data-modal-about-close>
      <svg class="modal-about__icon" width="30" height="30">
        <use href="./images/sprite.svg#icon-icecream"></use>
      </svg>
    </button>
  </div>
</div>
