<section class="section-advantages" id="advantages">
  <h2 class="section-advatages__title visually-hidden">Advatages</h2>
  <div class="container">
    <ul class="advantages-list">
      <li class="advantages-list__item first-advantages">
        <p class="advantages-list__number">721</p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item second-advantages">
        <p class="advantages-list__number">16kg</p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item item third-advantages">
        <p class="advantages-list__number">84</p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
