<section class="contacts-section" id="contacts">
  <!-- Фон -->
  <div class="contacts-bg"></div>
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts-list">
      <!-- 1 -->
      <div class="contacts-list__contact contact contact--light">
        <!-- Местоположение -->
        <div class="contact__loc">
          <div class="contact__category-wrap contact__category-wrap--cafe">
            <p class="contact__category contact__category--light">CAFE</p>
          </div>
          <div class="loc__info">
            <h3 class="contact__title contact__title--dark">Chicago</h3>
            <p class="contact__text contact__text--dim">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
        </div>
        <!-- Время роботы -->
        <div class="contact__work-time">
          <div>
            <h3 class="contact__title contact__title--dark">Monday - Friday</h3>
            <p class="contact__title contact__title--light">
              06:00 AM - 10:00 PM
            </p>
          </div>
          <div>
            <h3 class="contact__title contact__title--dark">
              Saturday - Sunday
            </h3>
            <p class="contact__title contact__title--light">
              08:00 AM - 16:00 PM
            </p>
          </div>
        </div>
        <!-- Линки -->
        <ul class="contact__links">
          <li>
            <a href="tel:+61038766284" class="contact__text contact__text--dim"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a
              href="mailto:noreply@envato.com"
              class="contact__text contact__text--dim"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
      <!-- 2 -->
      <div class="contacts-list__contact contact contact--light">
        <!-- Местоположение -->
        <div class="contact__loc">
          <div class="contact__category-wrap contact__category-wrap--foodtruck">
            <p class="contact__category contact__category--light">FOODTRUCK</p>
          </div>
          <div class="loc__info">
            <h3 class="contact__title contact__title--dark">Los Angeles</h3>
            <p class="contact__text contact__text--dim">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
        </div>
        <!-- Время роботы -->
        <div class="contact__work-time">
          <div>
            <h3 class="contact__title contact__title--dark">Monday - Friday</h3>
            <p class="contact__title contact__title--light">
              06:00 AM - 10:00 PM
            </p>
          </div>
          <div>
            <h3 class="contact__title contact__title--dark">
              Saturday - Sunday
            </h3>
            <p class="contact__title contact__title--light">
              08:00 AM - 16:00 PM
            </p>
          </div>
        </div>
        <!-- Линки -->
        <ul class="contact__links">
          <li>
            <a
              href="tel:+61038766284"
              class="contact__text contact__text--dim contact__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a
              href="mailto:noreply@envato.com"
              class="contact__text contact__text--dim contact__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
      <!-- 3 -->
      <div class="contacts-list__contact contact contact--light">
        <!-- Местоположение -->
        <div class="contact__loc">
          <div class="contact__category-wrap contact__category-wrap--cafe">
            <p class="contact__category contact__category--light">CAFE</p>
          </div>
          <div class="loc__info">
            <h3 class="contact__title contact__title--dark">New York</h3>
            <p class="contact__text contact__text--dim">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
        </div>
        <!-- Время роботы -->
        <div class="contact__work-time">
          <div>
            <h3 class="contact__title contact__title--dark">Monday - Friday</h3>
            <p class="contact__title contact__title--light">
              06:00 AM - 10:00 PM
            </p>
          </div>
          <div>
            <h3 class="contact__title contact__title--dark">
              Saturday - Sunday
            </h3>
            <p class="contact__title contact__title--light">
              08:00 AM - 16:00 PM
            </p>
          </div>
        </div>
        <!-- Линки -->
        <ul class="contact__links">
          <li>
            <a
              href="tel:+61038766284"
              class="contact__text contact__text--dim contact__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a
              href="mailto:noreply@envato.com"
              class="contact__text contact__text--dim contact__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- Батоны -->
    <div class="contacts-btn-box">
      <button
        class="contacts-btn contacts-btn--dark"
        onclick="contactsModalOLOpen()"
      >
        Our Locations
        <svg class="contacts_icon-arrow">
          <use href="./images/sprite.svg#arrow-short"></use>
        </svg>
      </button>
      <button class="contacts-btn contacts-btn--light" onclick="contactsModalFranchiseOpen()">
        Franchise
        <svg class="contacts_icon-arrow">
          <use href="./images/sprite.svg#arrow-short"></use>
        </svg>
      </button>
    </div>
    <!-- Бэкдроп -->
    <div class="contacts-backdrop is-hidden">
      <!-- Модалка 1 -->
      <div class="contacts-modal is-hidden">
        <button class="contacts-modal__close-btn" onclick="contactsModalOLClose()">
          <svg class="contacts-modal__close-btn-icon">
            <use href="./images/sprite.svg#close"></use>
          </svg>
        </button>
        <h2 class="contacts-modal__title">Our Locations</h2>
        <div class="contacts-modal__locations">
          <div class="contacts-modal__loc-info" onclick="selectLocation(0)">
            <div class="contacts-modal__text-box">
              <div class="contact__category-wrap contact__category-wrap--cafe">
                <p class="contact__category contact__category--light">CAFE</p>
              </div>
              <p class="contact__title contact__title--dark">in Chicago</p>
            </div>
            <p class="contact__text contact__text--dim">
              Jackson Park Inner Harbor
            </p>
          </div>
          <div
            class="contacts-modal__loc-info colorless"
            onclick="selectLocation(1)"
          >
            <div class="contacts-modal__text-box">
              <div
                class="contact__category-wrap contact__category-wrap--foodtruck"
              >
                <p class="contact__category contact__category--light">
                  FOODTRUCK
                </p>
              </div>
              <p class="contact__title contact__title--dark">in Los Angeles</p>
            </div>
            <p class="contact__text contact__text--dim">Athens Park</p>
          </div>
          <div
            class="contacts-modal__loc-info colorless"
            onclick="selectLocation(2)"
          >
            <div class="contacts-modal__text-box">
              <div class="contact__category-wrap contact__category-wrap--cafe">
                <p class="contact__category contact__category--light">CAFE</p>
              </div>
              <p class="contact__title contact__title--dark">in New York</p>
            </div>
            <p class="contact__text contact__text--dim">Mount Prospect Park</p>
          </div>
        </div>
        <div class="contacts-modal_map-wrap">
          <iframe
            id="contacts-modal_map"
            class="contacts-modal_map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2975.3355312815006!2d-87.57536521436054!3d41.77798200063016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e29abe65db847%3A0x79ab2236c86890b6!2sJackson%20Park%20Inner%20Harbor!5e0!3m2!1sru!2s!4v1655210545068!5m2!1sru!2s"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          >
          </iframe>
        </div>
      </div>
      <!-- Модалка 2 -->
      <div class="contacts-modal is-hidden">
        <!-- Кнопка закрытия -->
        <button class="contacts-modal__close-btn" onclick="contactsModalFranchiseClose()">
          <svg class="contacts-modal__close-btn-icon">
            <use href="./images/sprite.svg#close"></use>
          </svg>
        </button>
        <h2 class="contacts-modal__title">Request Franchise Information</h2>
        <form class="contacts-modal__form" action="">
          <h3 class="contact__title contact__title--dark contacts-modal__category"><span>Personal Information</span></h3>
          <div class="contacts-modal__label-box">
            <div>
              <label for="first-name" class="contact__text contact__text--dim">First Name</label>
              <input type="text" class="contacts-modal__input contact__title contact__title--dark" id="first-name" name="first-name" required>
            </div>
            <div>
              <label for="last-name" class="contact__text contact__text--dim">Last Name</label>
              <input type="text" class="contacts-modal__input contact__title contact__title--dark" id="last-name" name="last-name" required>
            </div>
          </div>
          <h3 class="contact__title contact__title--dark contacts-modal__category"><span>Contact Information</span></h3>
          <div class="contacts-modal__label-box">
            <div>
              <label for="user-phone" class="contact__text contact__text--dim">Phone</label>
              <input type="tel" class="contacts-modal__input contact__title contact__title--dark" id="user-phone" name="user-phone" required>
            </div>
            <div>
              <label for="user-email" class="contact__text contact__text--dim">Email</label>
              <input type="email" class="contacts-modal__input contact__title contact__title--dark" id="user-email" name="user-email" required>
            </div>
          </div>
          <h3 class="contact__title contact__title--dark contacts-modal__category"><span>Message</span></h3>
          <textarea class="contacts-modal__message" placeholder="Leave your message"></textarea>
          <button type="submit" class="contacts-btn contacts-btn--dim">Send
            <svg class="contacts_icon-arrow">
              <use href="./images/sprite.svg#arrow-short"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
