<section class="contacts-section" id="contacts">
    <!-- Фон -->
    <div class="contacts_bg"></div>
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>
        <div class="contacts-list">
            <!-- 1 -->
            <div class="contacts-list__contact contact contact--light">
                <!-- Местоположение -->
                <div class="contact__loc">
                    <div class="contact__category-wrap contact__category-wrap--cafe">
                        <p class="contact__category contact__category--light">CAFE</p>
                    </div>
                    <div class="loc__info">
                        <h4 class="contact__title contact__title--dark">Chicago</h4>
                        <p class="contact__text contact__text--dim">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                </div>
                <hr class="contact__line">
                <!-- Время роботы -->
                <div class="contact__work-time">
                    <div>
                        <h4 class="contact__title contact__title--dark">Monday - Friday</h4>
                        <p class="contact__title contact__title--light">06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <h4 class="contact__title contact__title--dark">Saturday - Sunday</h4>
                        <p class="contact__title contact__title--light">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <hr class="contact__line">
                <!-- Линки -->
                <ul class="contact__links">
                    <li><a href="tel:+61038766284" class="contact__text contact__text--dim">+61(0) 383 766 284</a></li>
                    <li><a href="mailto:noreply@envato.com" class="contact__text contact__text--dim">noreply@envato.com</a></li>
                </ul>
            </div>
            <!-- 2 -->
            <div class="contacts-list__contact contact contact--light">
                <!-- Местоположение -->
                <div class="contact__loc">
                    <div class="contact__category-wrap contact__category-wrap--foodtruck">
                        <p class="contact__category contact__category--light">FOODTRUCK</p>
                    </div>
                    <div class="loc__info">
                        <h4 class="contact__title contact__title--dark">Los Angeles</h4>
                        <p class="contact__text contact__text--dim">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                </div>
                <hr class="contact__line">
                <!-- Время роботы -->
                <div class="contact__work-time">
                    <div>
                        <h4 class="contact__title contact__title--dark">Monday - Friday</h4>
                        <p class="contact__title contact__title--light">06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <h4 class="contact__title contact__title--dark">Saturday - Sunday</h4>
                        <p class="contact__title contact__title--light">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <hr class="contact__line">
                <!-- Линки -->
                <ul class="contact__links">
                    <li><a href="tel:+61038766284" class="contact__text contact__text--dim contact__link">+61(0) 383 766 284</a></li>
                    <li><a href="mailto:noreply@envato.com" class="contact__text contact__text--dim contact__link">noreply@envato.com</a></li>
                </ul>
            </div>
            <!-- 3 -->
            <div class="contacts-list__contact contact contact--light">
                <!-- Местоположение -->
                <div class="contact__loc">
                    <div class="contact__category-wrap contact__category-wrap--cafe">
                        <p class="contact__category contact__category--light">CAFE</p>
                    </div>
                    <div class="loc__info">
                        <h4 class="contact__title contact__title--dark">New York</h4>
                        <p class="contact__text contact__text--dim">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                </div>
                <hr class="contact__line">
                <!-- Время роботы -->
                <div class="contact__work-time">
                    <div>
                        <h4 class="contact__title contact__title--dark">Monday - Friday</h4>
                        <p class="contact__title contact__title--light">06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <h4 class="contact__title contact__title--dark">Saturday - Sunday</h4>
                        <p class="contact__title contact__title--light">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <hr class="contact__line">
                <!-- Линки -->
                <ul class="contact__links">
                    <li><a href="tel:+61038766284" class="contact__text contact__text--dim contact__link">+61(0) 383 766 284</a></li>
                    <li><a href="mailto:noreply@envato.com" class="contact__text contact__text--dim contact__link">noreply@envato.com</a></li>
                </ul>
            </div>
        </div>
        <!-- Батоны -->
        <div class="contacts-btn-box">
            <button class="contacts-btn contacts-btn--dark">Our Locations
                <svg class="contacts_icon-arrow">
                    <use href="./images/sprite.svg#arrow-short"></use>
                </svg>
            </button>
            <button class="contacts-btn contacts-btn--light">Franchise
                <svg class="contacts_icon-arrow">
                    <use href="./images/sprite.svg#arrow-short"></use>
                </svg>
            </button>
        </div>
    </div>
</section>