<section class="customer">
    <div class="conteiner">
        <div class="customer-box">
        <h2 class="visually-hidden">Отзывы</h2>
        <img class="customer-pic" src="./images/people/people-one-85-min.jpg"/>
        <div class="box-man">
        <svg class="customer-icon" width="54" height="40">
            <use href="./images/sprite.svg#icon-quotes"></use>
        </svg>
        <div class="box-text">
        <p class="customer-text">
            Nullam viverra
        </p>
        <p class="customer-text">
            consectetuer. Quisque
        </p>
        <p class="customer-text">
         cursus et, porttitor risus.
        </p>
        <p class="customer-text">
            Aliquam sem. In hendrerit
        </p>
        <p class="customer-text">
            nulla quam nunc,
        </p>
        <p class="customer-text">
            accumsan congue. Lorem
        </p>
        <p class="customer-text">
            ipsum primis in nibh vel
        </p>
        <p class="customer-text">
            risus.
        </p>
    
    </div>
    </div>
<ul class="customer-list-dot">
    <li class="customer-item-dot>
        <a href=""></a>
    </li>
    <li class="customer-item-dot>
        <a href=""></a>
    </li>
    <li class="customer-item-dot>
        <a href=""></a>
    </li>
</ul>

<h3 class="customer-title">
    Emily, Los Angeles
</h3>
</div>

<div class="customer-box">
    <h2 class="visually-hidden">Отзывы</h2>
    <img class="customer-pic" src="./images/people/people-one-85-min.jpg"/>
    <div class="box-man">
    <svg class="customer-icon" width="54" height="40">
        <use href="./images/sprite.svg#icon-quotes"></use>
    </svg>
    <div class="box-text">
    <p class="customer-text">
        Nullam viverra
    </p>
    <p class="customer-text">
        consectetuer. Quisque
    </p>
    <p class="customer-text">
     cursus et, porttitor risus.
    </p>
    <p class="customer-text">
        Aliquam sem. In hendrerit
    </p>
    <p class="customer-text">
        nulla quam nunc,
    </p>
    <p class="customer-text">
        accumsan congue. Lorem
    </p>
    <p class="customer-text">
        ipsum primis in nibh vel
    </p>
    <p class="customer-text">
        risus.
    </p>

</div>
</div>
<ul class="customer-list-dot">
<li class="customer-item-dot>
    <a href=""></a>
</li>
<li class="customer-item-dot>
    <a href=""></a>
</li>
<li class="customer-item-dot>
    <a href=""></a>
</li>
</ul>

<h3 class="customer-title">
Emily, Los Angeles
</h3>
</div>

<div class="customer-box">
    <h2 class="visually-hidden">Отзывы</h2>
    <img class="customer-pic" src="./images/people/people-one-85-min.jpg"/>
    <div class="box-man">
    <svg class="customer-icon" width="54" height="40">
        <use href="./images/sprite.svg#icon-quotes"></use>
    </svg>
    <div class="box-text">
    <p class="customer-text">
        Nullam viverra
    </p>
    <p class="customer-text">
        consectetuer. Quisque
    </p>
    <p class="customer-text">
     cursus et, porttitor risus.
    </p>
    <p class="customer-text">
        Aliquam sem. In hendrerit
    </p>
    <p class="customer-text">
        nulla quam nunc,
    </p>
    <p class="customer-text">
        accumsan congue. Lorem
    </p>
    <p class="customer-text">
        ipsum primis in nibh vel
    </p>
    <p class="customer-text">
        risus.
    </p>

</div>
</div>
<ul class="customer-list-dot">
<li class="customer-item-dot>
    <a href=""></a>
</li>
<li class="customer-item-dot>
    <a href=""></a>
</li>
<li class="customer-item-dot>
    <a href=""></a>
</li>
</ul>

<h3 class="customer-title">
Emily, Los Angeles
</h3>
</div>

<ul class="customer-list-home">
    <li class="customer-item-home">
        
            <button type="button" class=" customer-click">
            <svg class="customer-icon-home" width="12" height="12">
                <use href="./images/sprite.svg#icon-dom"></use>
            </svg>
            </button>
        
    </li>
    <li class="customer-item-home">
        
            <button type="button" class="customer-click">
                <svg class="customer-icon-home" width="12" height="12">
                    <use href="./images/sprite.svg#icon-dom"></use>
                </svg>
            </button>
        
    </li>
    <li class="customer-item-home">
        
            <button type="button" class="customer-click">
                <svg class="customer-icon-home" width="12" height="12">
                    <use href="./images/sprite.svg#icon-dom"></use>
                </svg>
            </button>
       
    </li>
</ul>
    </div>


</section>