<section class="customer">
    <div class="container">
        <div class="box-slick">
        <div class="customer-box">
        <h2 class="visually-hidden">Отзывы</h2>
        <img class="customer-pic" src="./images/people/people-one-85-min.jpg"/>
        <!-- <div class="box-alig"> -->
            <div class="box-man">
        
        
        <div class="box-text">
            <p class="customer-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
        <!-- <p class="customer-text">
            consectetuer. Quisque
        </p>
        <p class="customer-text">
         cursus et, porttitor risus.
        </p>
        <p class="customer-text">
            Aliquam sem. In hendrerit
        </p>
        <p class="customer-text">
            nulla quam nunc,
        </p>
        <p class="customer-text">
            accumsan congue. Lorem
        </p>
        <p class="customer-text">
            ipsum primis in nibh vel
        </p>
        <p class="customer-text">
            risus.
        </p> -->
        <svg class="customer-icon" width="54" height="40">
            <use href="./images/sprite.svg#icon-quotes"></use>
        </svg>
    <!-- </div> -->
    </div>
    </div>
<ul class="customer-list-dot">
    <li class="customer-item-dot>
        <a href=""></a>
    </li>
    <li class="customer-item-dot>
        <a href=""></a>
    </li>
    <li class="customer-item-dot>
        <a href=""></a>
    </li>
</ul>

<h3 class="customer-title">
    Emily, Los Angeles
</h3>
</div>

<div class="customer-box">
    <h2 class="visually-hidden">Отзывы</h2>
    <img class="customer-pic" src="./images/people/people-two-85-min.jpg"/>
    
    
    <div class="box-man">
    <div class="box-text">
        <p class="customer-text">
            I always thought that I don’t like ice cream and in general I’m indifferent to sweets. My friends have always envied my endurance. But for 2 months they bought ice cream of this brand "Icecream" for children (Before, children liked something else) I tried it myself and seemed to return to childhood. This milky taste of natural ice cream is not to be confused with anything. Just ummm... Now I eat it every other day. I'm holding back. I weigh myself every day. I'm waiting.
        </p>
    <!-- <p class="customer-text">
        consectetuer. Quisque
    </p>
    <p class="customer-text">
     cursus et, porttitor risus.
    </p>
    <p class="customer-text">
        Aliquam sem. In hendrerit
    </p>
    <p class="customer-text">
        nulla quam nunc,
    </p>
    <p class="customer-text">
        accumsan congue. Lorem
    </p>
    <p class="customer-text">
        ipsum primis in nibh vel
    </p>
    <p class="customer-text">
        risus.
    </p> -->
    <svg class="customer-icon" width="54" height="40">
        <use href="./images/sprite.svg#icon-quotes"></use>
    </svg>
</div>
</div>
<ul class="customer-list-dot">
<li class="customer-item-dot>
    <a href=""></a>
</li>
<li class="customer-item-dot>
    <a href=""></a>
</li>
<li class="customer-item-dot>
    <a href=""></a>
</li>
</ul>

<h3 class="customer-title">
Kamali, America
</h3>
</div>

<div class="customer-box">
    <h2 class="visually-hidden">Отзывы</h2>
    <img class="customer-pic" src="./images/people/people-three-85-min.jpg"/>
    
    
    <div class="box-man">
    <div class="box-text">
    <p class="customer-text">
        I work as a bartender. We always made ice cream ourselves, everyone liked it quite actively. Recently there was an emergency, at the most inopportune moment the ice cream maker broke down. The boss resisted for a long time but made a "strong-willed" decision. Sent to the store for ice cream. The emphasis was on what would be natural and large packages. I bought a new brand "Icecream", I had not seen this before. I just came across in large packages, so I took it. It dispersed with a bang. Now another problem. The ice cream maker has been fixed and visitors ask why our ice cream "spoiled". We say it's all the new ice cream maker's fault. So what to do? Can't you tell which store is better?
    </p>
    <!-- <p class="customer-text">
        consectetuer. Quisque
    </p>
    <p class="customer-text">
     cursus et, porttitor risus.
    </p>
    <p class="customer-text">
        Aliquam sem. In hendrerit
    </p>
    <p class="customer-text">
        nulla quam nunc,
    </p>
    <p class="customer-text">
        accumsan congue. Lorem
    </p>
    <p class="customer-text">
        ipsum primis in nibh vel
    </p>
    <p class="customer-text">
        risus.
    </p> -->
    <svg class="customer-icon" width="54" height="40">
        <use href="./images/sprite.svg#icon-quotes"></use>
    </svg>
</div>
</div>
<ul class="customer-list-dot">
<li class="customer-item-dot>
    <a href=""></a>
</li>
<li class="customer-item-dot>
    <a href=""></a>
</li>
<li class="customer-item-dot>
    <a href=""></a>
</li>
</ul>

<h3 class="customer-title">
Sofia, Ukraine
</h3>
</div>
</div>

<!-- <ul class="slick-dots">
    <li class="customer-item-home">
        
            <button type="button" class=" customer-click">
            <svg class="customer-icon-home" width="12" height="12">
                <use href="./images/sprite.svg#icon-dom"></use>
            </svg>
            </button>
        
    </li>
    <li class="customer-item-home">
        
            <button type="button" class="customer-click">
                <svg class="customer-icon-home" width="12" height="12">
                    <use href="./images/sprite.svg#icon-dom"></use>
                </svg>
            </button>
        
    </li>
    <li class="customer-item-home">
        
            <button type="button" class="customer-click">
                <svg class="customer-icon-home" width="12" height="12">
                    <use href="./images/sprite.svg#icon-dom"></use>
                </svg>
            </button>
       
    </li>
</ul>
    </div> -->


</section>