<footer>
    <section class="footer">
        <div class="conteiner footer-cont">
            <ul class="footer-title-list">
                <li class="footer-title-item">
                    <p class="title-first">homemade ice cream made </p>
                </li>
                <li class="footer-title-item">
                    <p class="title-second">with passion</p>
                </li>
            </ul>

            <div class="footer-contact">
                <ul class="footer-social">
                    <li class="footer-social-item social-first">
                        <a href="" class="social-link">
                            <svg class="footer-social-icon">
                                <use href="./images/sprite.svg#icon-gidHab"></use>
                            </svg>
                        </a>

                    </li>
                    <li class="footer-social-item">
                        <a href="" class="social-link">
                            <svg class="footer-social-icon">
                                <use href="./images/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>

                    </li>
                    <li class="footer-social-item">
                        <a href="" class="social-link">
                            <svg class="footer-social-icon">
                                <use href="./images/sprite.svg#icon-fb"></use>
                            </svg>
                        </a>

                    </li>
                </ul>
                <p class="footer-text">Feel free to contact<a href="tel:+610383766284" class="footer-number"> +61 (0)
                        383 766 284</a></p>
            </div>
        </div>

    </section>
    <section class="copyright">
        <div class="conteiner">
            <p class="copyright-text">&#169 2019 - IceCream. All Rights Reserved.</p>
        </div>
    </section>

</footer>