<footer>
  <div class="footer">
    <div class="container footer-cont">
      <div class="footer-box">
        <ul class="footer-title-list">
          <li class="footer-title-item">
            <p class="title-first">homemade ice cream made</p>
          </li>
          <li class="footer-title-item">
            <p class="title-second">with passion</p>
          </li>
        </ul>

        <div class="footer-contact">
          <ul class="footer-social">
            <li class="footer-social-item social-first">
              <div class="fab">
                <a
                  class="fab-action-button social-link git"
                  href="https://github.com"
                >
                  <svg class="footer-social-icon">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
                <ul class="fab-buttons">
                  <li class="fab-buttons__item">
                    <a
                      href="https://github.com/byht1"
                      class="fab-buttons__link"
                      data-tooltip="Віталік"
                    >
                      <img
                        class="git__photo"
                        width="40"
                        src="./images/footer/vitalik.jfif"
                        alt="Roman"
                        loading="lazy"
                      />
                    </a>
                  </li>
                  <li class="fab-buttons__item">
                    <a
                      href="https://github.com/Veronika-chenko"
                      class="fab-buttons__link"
                      data-tooltip="Вероніка"
                    >
                      <img
                        class="git__photo"
                        width="40"
                        src="./images/footer/veronika.png"
                        alt="Roman"
                        loading="lazy"
                      />
                    </a>
                  </li>
                  <li class="fab-buttons__item">
                    <a
                      href="https://github.com/ViktoriaZinyak"
                      class="fab-buttons__link"
                      data-tooltip="Вікторія"
                    >
                      <img
                        class="git__photo"
                        width="40"
                        src="./images/footer/viktoria.png"
                        alt="Victoria"
                        loading="lazy"
                      />
                    </a>
                  </li>
                  <li class="fab-buttons__item">
                    <a
                      href="https://github.com/RomanKuranov"
                      class="fab-buttons__link"
                      data-tooltip="Роман"
                    >
                      <img
                        class="git__photo"
                        width="40"
                        src="./images/footer/roman.jfif"
                        alt="Roman"
                        loading="lazy"
                      />
                    </a>
                  </li>
                  <li class="fab-buttons__item">
                    <a
                      href="https://github.com/DDarina"
                      class="fab-buttons__link"
                      data-tooltip="Дарина"
                    >
                      <img
                        class="git__photo"
                        width="40"
                        src="./images/footer/darina.jfif"
                        alt="Darina"
                        loading="lazy"
                      />
                    </a>
                  </li>
                  <li class="fab-buttons__item">
                    <a
                      href="https://github.com/Lyud0k"
                      class="fab-buttons__link"
                      data-tooltip="Люда"
                    >
                      <img
                        class="git__photo"
                        width="40"
                        src="./images/footer/lyda.png"
                        alt="Lyda"
                        loading="lazy"
                      />
                    </a>
                  </li>
                  <li class="fab-buttons__item">
                    <a
                      href="https://github.com/MaxPurr"
                      class="fab-buttons__link"
                      data-tooltip="Максим"
                    >
                      <img
                        class="git__photo"
                        width="40"
                        src="./images/footer/max.png"
                        alt="Max"
                        loading="lazy"
                      />
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="footer-social-item">
              <a href="https://t.me/+MSTllXBVKxs3MjBi" class="social-link">
                <svg class="footer-social-icon">
                  <use href="./images/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a href="https://www.facebook.com" class="social-link">
                <svg class="footer-social-icon">
                  <use href="./images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
          </ul>

          <p class="footer-text">
            Feel free to contact<a
              href="tel:+610383766284"
              class="footer-number"
            >
              <span class="footer__decoration">+61 (0) 383 766 284</span></a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="footer-border">
      <p class="copyright-text">&#169; 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
