<section class="section-gallery" id="section-gallery">
  <div class="conteiner">
    <ul class="gallery__list">
      <li class="gallery__item item1 list">
        <picture class="gallery__img">
          <source srcset="/src/images/gallery/web/one.webp 1x, /src/images/gallery/web/one-2x.webp 2x "/>
          <source srcset="/src/images/gallery/one.jpg 1x, /src/images/gallery/one-2x.jpg 2x" type="image/jpeg"/>
          <img src="/src/images/gallery/one.jpg" alt="ice cream" width="40" height="40"/>
        </picture>
      </li>
      <li class="gallery__item item2 list">
        <picture class="gallery__img">
          <source srcset="/src/images/gallery/web/two.webp 1x, /src/images/gallery/web/two-2x.webp 2x " type="image/webp">
          <source srcset="/src/images/gallery/two.jpg 1x, /src/images/gallery/two-2x.jpg 2x" type="image/jpeg">
          <img src="/src/images/gallery/two.jpg" alt="ice cream" width="40" height="40">
        </picture>
      </li>
      <li class="gallery__item-big item3">
        <picture class="gallery__img">
          <source srcset="/src/images/gallery/web/three.webp 1x, /src/images/gallery/web/three-2x.webp 2x" type="image/webp">
          <source srcset="/src/images/gallery/three.jpg 1x, /src/images/gallery/three-2x.jpg 2x" type="image/jpeg">
          <img src="/src/images/gallery/three.jpg" alt="ice cream" width="40" height="40">
        </picture>
      </li>
      <li class="gallery__item item4">
        <picture class="gallery__img">
          <source srcset="/src/images/gallery/web/foure.webp 1x, /src/images/gallery/web/foure-2x.webp 2x " type="image/webp">
          <source srcset="/src/images/gallery/foure.jpg 1x, /src/images/gallery/foure-2x.jpg 2x" type="image/jpeg">
          <img src="/src/images/gallery/foure.jpg" alt="ice cream" width="40" height="40">
        </picture>
      </li>
      <li class="gallery__item item5">
        <picture class="gallery__img">
          <source srcset="/src/images/gallery/web/five.webp 1x, /src/images/gallery/web/five-2x.webp 2x " type="image/webp">
          <source srcset="/src/images/gallery/five.jpg 1x, /src/images/gallery/five-2x.jpg 2x" type="image/jpeg">
          <img src="/src/images/gallery/five.jpg" alt="ice cream" width="40" height="40">
        </picture>
      </li>
      <li class="gallery__item item6">
        <picture class="gallery__img">
          <source srcset="/src/images/gallery/web/six.webp 1x, /src/images/gallery/web/six-2x.webp 2x " type="image/webp">
          <source srcset="/src/images/gallery/six.jpg 1x, /src/images/gallery/six-2x.jpg 2x" type="image/jpeg">
          <img src="/src/images/gallery/six.jpg" alt="ice cream" width="40" height="40">
        </picture>
      </li>
      <li class="gallery__item item7">
        <picture class="gallery__img">
          <source srcset="/src/images/gallery/web/seven.webp 1x, /src/images/gallery/web/seven-2x.webp 2x " type="image/webp">
          <source srcset="/src/images/gallery/seven.jpg 1x, /src/images/gallery/seven-2x.jpg 2x" type="image/jpeg">
          <img src="/src/images/gallery/seven.jpg" alt="ice cream" width="40" height="40">
        </picture>
      </li>
      <li class="gallery__item item8">
        <picture class="gallery__img">
          <source srcset="/src/images/gallery/web/eight.webp 1x, /src/images/gallery/web/eight-2x.webp 2x " type="image/webp">
          <source srcset="/src/images/gallery/eight.jpg 1x, /src/images/gallery/eight-2x.jpg 2x" type="image/jpeg">
          <img src="/src/images/gallery/eight.jpg" alt="ice cream" width="40" height="40">
        </picture>
      </li>
      <li class="gallery__item item9">
        <picture class="gallery__img">
          <source srcset="/src/images/gallery/web/nine.webp 1x, /src/images/gallery/web/nine-2x.webp 2x " type="image/webp">
          <source srcset="/src/images/gallery/nine.jpg 1x, /src/images/gallery/nine-2x.jpg 2x" type="image/jpeg">
          <img src="/src/images/gallery/nine.jpg" alt="ice cream" width="40" height="40">
        </picture>
      </li>
      <li class="gallery__item item10">
        <picture class="gallery__img">
          <source srcset="/src/images/gallery/web/ten.webp 1x, /src/images/gallery/web/ten-2x.webp 2x "  type="image/webp">
          <source srcset="/src/images/gallery/ten.jpg 1x, /src/images/gallery/ten-2x.jpg 2x" type="image/jpeg">
          <img src="/src/images/gallery/ten.jpg" alt="ice cream" width="40" height="40">
        </picture>
      </li> 
    </ul>
  </div>
</section>