<section class="hero" id="hero">
  <div class="container hero-container">
    <picture>
      <source
        srcset="
          ./images/hero/web/ice-cream-desk-1x.webp 1x,
          ./images/hero/web/ice-cream-desk-2x.webp 2x
        "
        type="image/webp"
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/ice-cream-desk-1x.png 1x,
          ./images/hero/ice-cream-desk-2x.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/web/ice-cream-tab-1x.webp 1x,
          ./images/hero/web/ice-cream-tab-2x.webp 2x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/ice-cream-tab-1x.png 1x,
          ./images/hero/ice-cream-tab-2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/web/ice-cream-mob-1x.webp 1x,
          ./images/hero/web/ice-cream-mob-2x.webp 2x
        "
        type="image/webp"
        media="(min-width:320px)"
      />
      <source
        srcset="
          ./images/hero/ice-cream-mob-1x.png 1x,
          ./images/hero/ice-cream-mob-2x.png 2x
        "
        media="(min-width:320px)"
      />
      <img
        src="./images/hero/ice-cream-mob-1x.png"
        alt="ice-cream"
        class="hero-ice-cream animate__animated animate__fadeInRightBig animate__slow"
        loading="lazy"
      />
    </picture>
    <div class="hero__content animate__animated animate__bounceInDown">
      <h1 class="hero__title">
        ice cream made with <span class="title__accent">passion</span>
      </h1>
      <ul class="hero__button-list">
        <li class="hero__button-item">
          <a href="#products" class="hero__button">Products</a>
        </li>
        <li class="hero__button-item hero__button-item--inverse">
          <a href="#about" class="hero__button hero__button--inverse"
            >How it&#39;s made?</a
          >
        </li>
      </ul>
    </div>
    <ul
      class="hero__numb animate__animated animate__pulse animate__infinite animate__slow"
    >
      <li class="numb__item">
        <span class="hero__second-text-numb">16</span>
        <p class="hero__second-text">cafes</p>
      </li>
      <li class="numb__item numb__item--second">
        <span class="hero__second-text-numb"> 23</span>
        <p class="hero__second-text">food trucks</p>
      </li>
    </ul>
    <picture>
      <source
        srcset="
          ./images/hero/web/milk-desk-1x.webp 1x,
          ./images/hero/web/milk-desk-2x.webp 2x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/milk-desk-1x.png 1x,
          ./images/hero/milk-desk-2x.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/web/milk-tab-1x.webp 1x,
          ./images/hero/web/milk-tab-2x.webp 2x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/milk-tab-1x.png 1x,
          ./images/hero/milk-tab-2x.png 2x
        "
        media="(min-width:768px)"
      />
      <img
        src="./images/hero/milk-desk-1x.png"
        alt="milk-bottle"
        class="hero-milk"
        loading="lazy"
      />
    </picture>
    <div class="hero__discrip">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button
        type="button"
        class="hero__button-arrow menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="7" height="6" class="button-arrow">
          <use href="./images/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
    <picture>
      <source
        srcset="
          ./images/hero/web/tasty-desk-1x.webp 1x,
          ./images/hero/web/tasty-desk-2x.webp 2x
        "
        type="image/webp"
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/tasty-desk-1x.png 1x,
          ./images/hero/tasty-desk-2x.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/web/tasty-tab-1x.webp 1x,
          ./images/hero/web/tasty-tab-2x.webp 2x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/tasty-tab-1x.png 1x,
          ./images/hero/tasty-tab-2x.png 2x
        "
        media="(min-width:768px)"
      />
      <img
        src="./images/hero/tasty-desk-1x.png"
        alt="girl eating ice-cream"
        class="hero-tasty"
        loading="lazy"
      />
    </picture>
  </div>
</section>
