<div class="backdrop is-hidden no-scroll">
  <div class="modal" data-modal>
      <button type="button" class="modal-close-btn" data-modal-close>
        
      </button>
      
      <form class="modal-form">
        
        <label fo<h3 class="modal__title">Buy now</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quo delectus deleniti quia officia, facilis commodi vero totam, perferendis modi, nisi iusto neque aperiam ullam. Quisquam nesciunt labore architecto illo!</p>r="">
          <input type="text">
        </label>
      </form>

      
      
  </div>
</div>
