<section class="section-products" id="products">
    <div class="container">
        <p class="products-top-text">100% natural</p>
        <h2 class="products-top-title">products</h2>
        <ul class="products-list">
            <li class="products-item first">
                <h3 class="products-title">ice cream</h3>
                <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et. <span class="prod-mob-span">dolore magna aliqua facilisis.</span></p>
                <button type="button" class="product-button">
                    <svg class="product-button-icon">
                        <use href="./images/sprite.svg#arrow-right" width="12"></use>
                    </svg>
                </button>
            </li>
            <li class="products-item second">
                <h3 class="products-title">ice coffee</h3>
                <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                    labore et. <span class="prod-mob-span">dolore magna aliqua facilisis.</span></p>
                <button type="button" class="product-button">
                    <svg class="product-button-icon">
                        <use href="./images/sprite.svg#arrow-right" width="12"></use>
                    </svg>
                </button>
            </li>
            <li class="products-item third">
                <h3 class="products-title">milkshakes</h3>
                <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                    labore et. <span class="prod-mob-span">dolore magna aliqua facilisis.</span></p>
                <button type="button" class="product-button">
                    <svg class="product-button-icon">
                        <use href="./images/sprite.svg#arrow-right" width="12"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>