.section-advantages {
  padding: 40px 0;
  background-color: #fff5f6;
  position: relative;
}
.section-advantages .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 16px;
  }

  @include tablet {
    flex-direction: row;
  }
}
.advantages-list {
  padding-right: 70px;

  @include tablet {
    display: flex;
    padding: 0;
  }
}
.advantages-list__item {
  position: relative;
  padding-top: 66px;
  &::before {
    content: '';
    display: block;
    position: absolute;

    top: 0;
    left: 0;

    width: 33px;
    height: 50px;
    background-color: transparent;
  }
  &:not(:last-child) {
    margin-bottom: 32px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  @include tablet {
    flex-basis: calc(100% / 4 - 20px);
    margin-left: 20px;
    padding-top: 86px;

    &:first-child {
      margin-left: 0;
    }
  }
}
.advantages-list__text {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.6666;

  @include tablet {
    font-size: 14px;
    line-height: 1.7142;
  }
}
.advantages-list__number {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-text);

  font-family: Titan One;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1388;
  margin-bottom: 20px;

  @include tablet {
    font-size: 48px;
    line-height: 1.1457;
  }
}
.first-advantages::before {
  content: '';
  background-image: url('../images/advantages/icon1.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/advantages/icon1@2x.png');
  }
}
.second-advantages::before {
  content: '';
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  background-image: url('../images/advantages/icon2.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/advantages/icon2@2x.png');
  }
}
.third-advantages::before {
  content: '';
  position: absolute;
  top: 0;
  width: 44px;
  height: 50px;
  background-image: url('../images/advantages/icon3.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/advantages/icon3@2x.png');
  }
}
