.customer {
    background-color: #FAFAFA;
    padding-bottom: 48px;
    padding-top: 40px;
    // position: relative;
    overflow: hidden;
    @media screen and (max-width: 767.98px) {

}
@media screen and (min-width: 1280px){
    padding-top: 60px;
    padding-bottom: 60px;
}
}

.box-slick {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 767.98px) {
    
}
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0000);
    overflow: hidden;
}

.box-man {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 767.98px){

}
}

.customer-pic {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 767.98px) {
        margin-bottom: 75px;
}
@media screen and (min-width: 768px) {
    margin-bottom: 57px;
}
@media screen and (min-width: 1280px) {
    margin-bottom: 63px;
}
}

// .box-alig {
//     position: relative;
//     justify-content: center;
// }

.customer-icon {
    position: absolute;
    left: 3px;
    top: -13px;
    z-index: -1;
    @media screen and (max-width: 767.98px) {
        width: 54px;
}
@media screen and (min-width: 768px) {
    width: 61px;
}
@media screen and (min-width: 1280px) {
    width: 54px;
}
}

.box-text {
    position: relative;
    // top: 13px;
    
    text-align: center;

    z-index: 2;
    @media screen and (max-width: 767.98px) {
        width: 180px;
        background-image: repeating-linear-gradient(#fafafa,#fafafa 28px,#e1e1e1 31px,#e1e1e1 0);
        margin-bottom: 33px;
}
@media screen and (min-width: 768px) {
    width: 620px;
    background-image: repeating-linear-gradient(#fafafa,#fafafa 27px,#e1e1e1 30px,#e1e1e1 0);
    margin-bottom: 36px;
}
@media screen and (min-width: 1280px) {
    width: 821px;
    background-image: repeating-linear-gradient(#fafafa,#fafafa 28px,#e1e1e1 31px,#e1e1e1 0);
    margin-bottom: 47px;
}
}

.customer-text {
    font-family: 'DM Sans';
    font-weight: 500;

    margin-left: auto;
    margin-right: auto;
    // border-bottom: 1px solid #E1E1E1;
    @media screen and (max-width: 767.98px) {
        font-size: 12px;
        line-height: 255%;
        max-width: 157px;

}
@media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 216%;
    max-width: 515px;
}
@media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 186%;
    max-width: 750px;
}
}

.customer-list-dot {
    margin-bottom: 16px;
    list-style: inside;
    color:#C7133E;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 767.98px) {

}
}


.customer-item-dot {
    width: 4px;
    height: 4px;
   
    @media screen and (max-width: 767.98px) {

}
}



.customer-title {
    font-family: 'DM Sans';
    font-weight: 500;
    line-height: 186%;
        margin-bottom: 16px;
        text-align: center;
        @media screen and (max-width: 767.98px) {
        font-size: 14px;
    
}
@media screen and (min-width: 768px) {
    font-size: 16px;
}
@media screen and (min-width: 1280px) {
    font-size: 20px;
    margin-bottom: 32px;
}
}

// .customer-list-home {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .slick-dots {

// }
// .customer-item-home {

// }

// .slick-active {}

// .slick-active:not(:last-child) {
//     margin-right: 10px;
// }

// .bc-non {
//     background-color: #FAFAFA;
// }

// .slick-active button {
    
//     width: 12px;
//     height: 12px;
//     border-radius: 50%;
//     background-color: #D9D9D9;
// }
// .slick-active button:focus {
//     background-color: #FAFAFA;
// }

// .customer-icon-home {
//     fill: #D31342;
//     opacity: 0;
// }
// .customer-icon-home:focus {
    
//     opacity: 1;
// }

// .customer-click:focus .customer-icon-home{
    
//    opacity: 1;
// }

.slick-dotted.slick-slider {
    @media screen and (max-width: 767.98px) {
    margin-bottom: 30px;
    
}
}

.slick-dots {
    
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    
    li {
        position: relative;
        display: inline-block;
        height: 12px;
        width: 12px;
        
        background-position: center;
        padding: 0;
        cursor: pointer;
        &:not(:last-child){
            margin-right: 18px;
        }
        button {
            
            // border: 0;
            // background-color: #D9D9D9;
            // border-radius: 50%;
            // display: block;
            // height: 12px;
            // width: 12px;
            // outline: none;
            // line-height: 0px;
            font-size: 0px;
            // color: transparent;
            // padding: 5px;
            // cursor: pointer;
            // &:focus {
            //     background-color: #FAFAFA;
            // }
            }
        }
        @media screen and (max-width: 767.98px) {
        }
    }
   
.slick-dots li {
    background-image: url(../images/people/Ellipse.svg);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.slick-dots li.slick-active {
    // background-color: #C7133E;
  
    background-image: url(../images/people/home.png);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
  }
  

            // &:hover, &:focus {
            //     outline: none;
            //     &:before {
            //         opacity: $slick-opacity-on-hover;
            //     }
            // }
            // &:before {
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     // content: $slick-dot-character;
            //     width: 20px;
            //     height: 20px;
            //     // font-family: $slick-font-family;
            //     // font-size: $slick-dot-size;
            //     line-height: 20px;
            //     text-align: center;
            //     color: $slick-dot-color;
            //     opacity: $slick-opacity-not-active;
            //     -webkit-font-smoothing: antialiased;
            //     -moz-osx-font-smoothing: grayscale;
            // }
        
        // &.slick-active button:before {
        //     color: $slick-dot-color-active;
        //     opacity: $slick-opacity-default;
        // }
       
    

