.customer {
  padding-bottom: 48px;
  padding-top: 40px;
  // position: relative;
  overflow: hidden;
  @media screen and (max-width: 767.98px) {
    padding-top: 40px;
    padding-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.box-slick {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 767.98px) {
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0000);
  overflow: hidden;
}

.box-man {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  @media screen and (max-width: 767.98px) {
    padding-top: 43px;
    padding-bottom: 17px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 37px;
    padding-top: 36px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 31px;
    padding-top: 47px;
  }
}

.box-text::before {
  content: '';
  background-image: url(../images/people/kav-2x.png);
  width: 54px;
  height: 40px;
  position: absolute;
  left: 3px;
  top: -15px;
  background-size: 54px 40px;
  z-index: -1;
  @media screen and (min-width: 768px) {
    background-size: 60px 40px;
    width: 60px;
  }
  @media screen and (min-width: 1280px) {
    background-size: 54px 40px;
    width: 54px;
  }
}

.customer-pic {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767.98px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}

.customer-icon {
  position: absolute;
  left: 3px;
  top: -13px;
  z-index: -1;
  @media screen and (max-width: 767.98px) {
    width: 54px;
  }
  @media screen and (min-width: 768px) {
    width: 61px;
  }
  @media screen and (min-width: 1280px) {
    width: 54px;
  }
}

.box-text {
  position: relative;
  // top: 13px;

  text-align: center;

  z-index: 2;
  @media screen and (max-width: 767.98px) {
    width: 180px;
    background-image: repeating-linear-gradient(
      #fafafa,
      #fafafa 28px,
      #e1e1e1 31px,
      #e1e1e1 0
    );
    // margin-bottom: 53px;
  }
  @media screen and (min-width: 768px) {
    width: 620px;
    background-image: repeating-linear-gradient(
      #fafafa,
      #fafafa 27px,
      #e1e1e1 30px,
      #e1e1e1 0
    );
    // margin-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    width: 821px;
    background-image: repeating-linear-gradient(
      #fafafa,
      #fafafa 27px,
      #e1e1e1 30px,
      #e1e1e1 0
    );
    // margin-bottom: 75px;
  }
}

.customer-text {
  font-family: 'DM Sans';
  font-weight: 500;

  margin-left: auto;
  margin-right: auto;
  // border-bottom: 1px solid #E1E1E1;
  @media screen and (max-width: 767.98px) {
    font-size: 12px;
    line-height: 258%;
    max-width: 157px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 214%;
    max-width: 515px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 187%;
    max-width: 750px;
  }
}

.relative {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767.98px) {
    max-width: 280px;
    margin-top: 16px;
    padding-top: 20px;
  }
  @media screen and (min-width: 768px) {
    max-width: 620px;
    padding-top: 24px;
    margin-bottom: 32px;
    margin-top: 4px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1034px;
    padding-top: 20px;
    margin-top: 16px;
  }
}

.customer-title {
  font-family: 'DM Sans';
  font-weight: 500;
  line-height: 186%;

  text-align: center;
  @media screen and (max-width: 767.98px) {
    font-size: 14px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.customer-title::before {
  content: url(../images/people/Group-8@1x.png);
  position: absolute;

  @media screen and (max-width: 767.98px) {
    left: 124px;
    top: -13px;
  }
  @media screen and (min-width: 768px) {
    left: 294px;
    top: -17px;
  }
  @media screen and (min-width: 1280px) {
    left: 501px;
    top: -21px;
  }
}

// .customer-list-home {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .slick-dots {

// }
// .customer-item-home {

// }

// .slick-active {}

// .slick-active:not(:last-child) {
//     margin-right: 10px;
// }

// .bc-non {
//     background-color: #FAFAFA;
// }

// .slick-active button {

//     width: 12px;
//     height: 12px;
//     border-radius: 50%;
//     background-color: #D9D9D9;
// }
// .slick-active button:focus {
//     background-color: #FAFAFA;
// }

// .customer-icon-home {
//     fill: #D31342;
//     opacity: 0;
// }
// .customer-icon-home:focus {

//     opacity: 1;
// }

// .customer-click:focus .customer-icon-home{

//    opacity: 1;
// }

.slick-dotted.slick-slider {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 30px;
  }
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;

    background-position: center;
    padding: 0;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 18px;
    }
    button {
      // border: 0;
      // background-color: #D9D9D9;
      // border-radius: 50%;
      // display: block;
      // height: 12px;
      // width: 12px;
      // outline: none;
      // line-height: 0px;
      font-size: 0px;
      // color: transparent;
      // padding: 5px;
      // cursor: pointer;
      // &:focus {
      //     background-color: #FAFAFA;
      // }
    }
  }
  @media screen and (max-width: 767.98px) {
  }
}

.slick-dots li {
  background-image: url(../images/people/Ellipse.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-dots li.slick-active {
  // background-color: #C7133E;

  background-image: url(../images/people/home.png);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

// &:hover, &:focus {
//     outline: none;
//     &:before {
//         opacity: $slick-opacity-on-hover;
//     }
// }
// &:before {
//     position: absolute;
//     top: 0;
//     left: 0;
//     // content: $slick-dot-character;
//     width: 20px;
//     height: 20px;
//     // font-family: $slick-font-family;
//     // font-size: $slick-dot-size;
//     line-height: 20px;
//     text-align: center;
//     color: $slick-dot-color;
//     opacity: $slick-opacity-not-active;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// &.slick-active button:before {
//     color: $slick-dot-color-active;
//     opacity: $slick-opacity-default;
// }
.comit__buttom {
  margin-left: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.04em;

  color: #e1e1e1;
  background-color: transparent;
}
