.customer {
    background-color: #FAFAFA;
    padding-bottom: 48px;
    position: relative;
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0000);
    overflow: hidden;
}
.box-man {
    padding: 30px 50px 17px 53px; 
}

.customer-pic {
    width: 85px;
    height: 85px;
    margin-bottom: 32px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.box-man {
    
}

.customer-icon {
    position: absolute;
}
.box-text {
    position: relative;
top: 13px;
    width: 180px;
    text-align: center;
    margin-bottom: 33px;
}
.customer-text {
    font-family: 'DM Sans';
font-weight: 500;
font-size: 12px;
line-height: 255%;
border-bottom: 1px solid #E1E1E1;
}

.customer-list-dot {
    margin-bottom: 16px;
    list-style: inside;
    color:#C7133E;
    display: flex;
    justify-content: center;
}


.customer-item-dot {
    width: 4px;
    height: 4px;
}



.customer-title {
    font-family: 'DM Sans';
font-weight: 500;
font-size: 14px;
line-height: 186%;
    margin-bottom: 16px;
}

.customer-list-home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-item-home {

}

.customer-item-home:not(:last-child) {
    margin-right: 10px;
}

// .bc-non {
//     background-color: #FAFAFA;
// }

.customer-click {
    
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #D9D9D9;
}
.customer-click:focus {
    background-color: #FAFAFA;
}

.customer-icon-home {
    fill: #D31342;
    opacity: 0;
}
.customer-icon-home:focus {
    
    opacity: 1;
}

.customer-click:focus .customer-icon-home{
    
   opacity: 1;
}

.box-second {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transform: translate(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

