.footer {
  background-color: #fff5f6;
}

.footer-cont {
  padding-top: 24px;
}

.title-first {
  width: 232px;
  @include text('Titan One', 400, 18px, 21px);
  text-transform: uppercase;
  color: var(--accent-salmon);
}

.title-second {
  margin-top: 16px;
  width: 200px;
  @include text('Titan One', 400, 34px, 39px);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-text);
}

.footer-social {
  margin-top: 40px;
  display: flex;
  justify-content: end;
  gap: 28px;
}

.social-link {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fea5bb;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--accent-salmon);

  &:hover,
  &:focus {
    background-color: var(--accent-text);
  }
}

.footer-social-icon {
  width: 20px;
  height: 20px;
}

.footer-text {
  margin-top: 40px;
  @include text('DM Sans', 700, 12px, 22px);
  text-align: right;
  color: var(--text-black);
}

.footer-number {
  color: var(--accent-text);
}
.footer-border {
  margin-top: 56px;
  border: 1px solid #e1e1e1;
}

.copyright-text {
  width: 134px;
  margin: 0 auto;
  padding: 16px 0 20px 0;

  @include text('DM Sans', 700, 14px, 21px);
  text-align: center;
  color: var(--comit-fon);
}

@media screen and (min-width: 768px) {
  .footer-box {
    display: flex;
    justify-content: space-between;
  }

  .title-first {
    width: 340px;
    @include text('Titan One', 400, 26px, 30px);
    letter-spacing: 0.04em;
    color: var(--accent-salmon);
  }

  .title-second {
    margin-top: 12px;
    width: 340px;
    @include text('Titan One', 400, 48px, 58px);
    letter-spacing: 0.06em;
  }

  .footer-text {
    @include text('DM Sans', 700, 14px, 26px);
    text-align: right;
  }
}
