.fab {
  position: relative;
}

.fab:hover .fab-buttons,
.fab:focus .fab-buttons {
  opacity: 1;
  visibility: visible;
}

.fab:hover .fab-buttons__link,
.fab:focus .fab-buttons__link {
  transform: scaleY(1) scaleX(1) translateY(-16px) translateX(0px);
}

.fab-action-button:hover + .fab-buttons .fab-buttons__link:before,
.fab-action-button:focus + .fab-buttons .fab-buttons__link:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
  transition-delay: 0.3s;
}

.fab-action-button {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #fea5bb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
  //   0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.fab-buttons {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.fab-buttons__item {
  display: block;
  text-align: center;
  margin: 12px 0;
}

.fab-buttons__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

[data-tooltip]:before {
  @include text('DM Sans', 700, 14px, 26px);
  top: 50%;
  margin-top: -15px;
  font-weight: 600;
  border-radius: 2px;
  background: #fea5bb;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  text-decoration: none;
  visibility: hidden;
  opacity: 0;
  padding: 4px 7px;
  margin-right: 12px;
  position: absolute;
  transform: scale(0);
  left: 120%;
  white-space: nowrap;
  transform-origin: top right;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

[data-tooltip]:hover:before,
[data-tooltip]:focus:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
}

.icon-material {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.footer {
  background-color: #fff5f6;
}

.footer-cont {
  padding-top: 24px;
}

.title-first {
  width: 232px;
  @include text('Titan One', 400, 18px, 21px);
  text-transform: uppercase;
  color: var(--accent-salmon);
}

.footer-title-item:last-child {
  margin-top: 16px;
}

.title-second {
  width: 200px;
  @include text('Titan One', 400, 34px, 39px);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-text);
}

.footer-contact {
  margin-top: 40px;
}

.footer-social {
  display: flex;
  justify-content: end;
  gap: 28px;
}

.social-link {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fea5bb;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--accent-salmon);

  &:hover,
  &:focus {
    background-color: var(--accent-text);
  }
}

.footer-social-icon {
  width: 20px;
  height: 20px;
}

.footer-text {
  margin-top: 40px;
  @include text('DM Sans', 700, 12px, 22px);
  text-align: right;
  color: var(--text-black);
}

.footer-number {
  color: var(--accent-text);
}
.footer-border {
  margin-top: 56px;
  border: 1px solid #e1e1e1;
}

.copyright-text {
  width: 134px;
  margin: 0 auto;
  padding: 16px 0 20px 0;

  @include text('DM Sans', 700, 14px, 21px);
  text-align: center;
  color: var(--comit-fon);
}

.git__photo {
  border-radius: 50%;
}

.footer__decoration:hover,
.footer-number:focus .footer__decoration {
  text-decoration: underline;
}

@media screen and (min-width: 500px) {
  .footer-box {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer-cont {
    padding-top: 20px;
  }

  .title-first {
    width: 340px;
    @include text('Titan One', 400, 26px, 30px);
    letter-spacing: 0.04em;
    color: var(--accent-salmon);
  }

  .footer-title-item:last-child {
    margin-top: 12px;
  }

  .title-second {
    width: 340px;
    @include text('Titan One', 400, 48px, 58px);
    letter-spacing: 0.06em;
  }

  .footer-text {
    @include text('DM Sans', 700, 14px, 26px);
    text-align: right;
  }

  .copyright-text {
    width: auto;
    padding: 8px 0;

    @include text('DM Sans', 700, 14px, 26px);
  }
}

@media screen and (min-width: 1280px) {
  .footer-cont {
    padding-top: 60px;
  }

  .title-first {
    width: auto;
    @include text('Titan One', 400, 30px, 34px);
  }

  .footer-title-item:last-child {
    margin-top: 16px;
  }

  .title-second {
    width: auto;
    @include text('Titan One', 400, 58px, 66px);
  }

  .footer-text {
    @include text('DM Sans', 700, 16px, 30px);
  }
}
