.header {
  transition: background-color 250ms linear;
}

.header-box {
  padding-top: 6px;
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  @include text('Titan One', 400, 26px, 30px);
  color: var(--accent-text);
}

.logo__photo {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header__menu {
  position: relative;
  z-index: 5;
  margin-left: auto;
  background-color: transparent;
  opacity: 1;

  transition: opacity 250ms var(--cubic);
}

.header__dutton-end {
  position: absolute;
  z-index: 1001;
  top: 23px;
  right: 28px;

  background-color: transparent;
}

.header__button-two {
  width: 100%;
  height: 44px;
  margin-bottom: 32px;
  opacity: 1;
  transition: opacity 250ms var(--cubic);
  background-color: #fff;
}

.header__button-one {
  opacity: 1;
  transition: opacity 250ms var(--cubic);
}

.nav-list {
  display: grid;
  gap: 22px;
}

.nav-list__link {
  position: relative;
  z-index: 5;
  @include text('DM Sans', 700, 14px, 18px);
  color: #fff;

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--accent-text);
  }

  &--color {
    color: var(--accent-text);
  }
}

.nav-list__link-decoration-r {
  position: absolute;
  top: 0;
  right: -10px;
  display: block;
  color: var(--accent-text);
  transform: translate(25px);
  opacity: 0;

  transition: transform 250ms linear, opacity 250ms linear;
  .nav-list__link:hover &,
  .nav-list__link:focus & {
    transform: translate(0);
    opacity: 1;
  }
}

.nav-list__link-decoration-l {
  position: absolute;
  top: 0;
  left: -10px;
  display: block;
  color: var(--accent-text);
  transform: translate(-25px);
  opacity: 0;

  transition: transform 250ms linear, opacity 250ms linear;
  .nav-list__link:hover &,
  .nav-list__link:focus & {
    transform: translate(0);
    opacity: 1;
  }
}

.is-open {
  opacity: 0;
}

.header__button {
  @include text('DM Sans', 700, 16px, 21px);
  width: 176px;
  height: 44px;
  background-color: var(--focus-white);
  color: var(--accent-text);
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 22px;
  align-items: center;

  justify-content: space-between;
  display: flex;

  transition: var(--cubic);

  @include tablet {
    font-size: 16px;
    line-height: 1.3125;
  }

  svg {
    margin-left: 24px;
  }

  &:hover,
  &:focus {
    background-color: #ecebeb;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and(max-width: 767.9px) {
  .header__button-one {
    display: none;
  }
}

@media screen and(max-width: 1279.9px) {
  .header {
    background-color: var(--fon);
  }
  .nav-box {
    padding: 60px 21px;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 250px;
    height: 100%;
    background-color: var(--accent);
    transform: translate(100%);
    opacity: 0;

    transition: transform 250ms linear, opacity 250ms linear;

    &--show {
      transform: translate(0);
      opacity: 1;
    }
  }

  .back-top {
    position: fixed;
    z-index: 900;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 50%;
    background-color: var(--fon);
    display: none;
  }

  // .back-to-top:hover,
  // .back-to-top:focus {
  //   filter: brightness(1.5);
  //   outline: none;
  // }

  .back-top::before,
  .back-top::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .back-top::before {
    width: 5px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f5f0f6;
  }

  .back-top::after {
    width: 15px;
    height: 15px;
    transform: translate(-50%, -60%) rotate(45deg);
    border-top: 5px solid #f5f0f6;
    border-left: 5px solid #f5f0f6;
  }
}

@media screen and(min-width: 768px) {
  .header-box {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__menu {
    margin-right: 30px;
  }
  .header__button {
    svg {
      margin-left: 12px;
    }
  }

  .header__button-one {
    width: 160px;
    height: 44px;
    background-color: #fff;
  }
  .header__button-two {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 186px;
  }

  .nav-box {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and(min-width: 1280px) {
  .header__dutton-end {
    display: none;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .header__menu {
    display: none;
  }

  .header__button-two {
    display: none;
  }

  .nav {
    margin: 0 auto;
    z-index: 1001;
  }

  .nav-box {
    padding: 0;
  }

  .nav-list {
    display: flex;
    gap: 35px;
  }

  .nav-list__link {
    position: relative;
    z-index: 1001;
    @include text('DM Sans', 700, 16px, 21px);
  }
}
