.hero {
  background-color: var(--fon);
  height: 444px;
  width: 100%;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    height: 315px;
    overflow: visible;
  }
  @media screen and (min-width: 1280px) {
    height: 664px;
  }
}

.hero-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    overflow: visible;
  }
}

.hero-container::after {
  content: '';
  position: absolute;
  display: block;
  background-color: var(--accent-salmon);
  width: 346px;
  height: 344px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-36%);
  bottom: 75px;
  @media screen and (min-width: 768px) {
    width: 335px;
    height: 333px;
    bottom: 40px;
    transform: translate(-41%);
  }
  @media screen and (min-width: 1280px) {
    width: 534px;
    height: 534px;
    bottom: 77px;
  }
}

@keyframes changePosition {
  0% {
    left: -180%;
    opacity: 0;
  }

  100% {
    left: 50%;
    opacity: 1;
  }
}

.hero-container::after {
  animation-name: changePosition;
  animation-duration: 2000ms;
}

.hero-ice-cream {
  width: 171px;
  height: 410px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-25%);
  z-index: 1;

  @media screen and (min-width: 768px) {
    width: 143px;
    height: 336px;
    transform: translate(-42%);
  }
  @media screen and (min-width: 1280px) {
    width: 236px;
    height: 557px;
  }
}

.hero__content {
  position: absolute;
  top: 136px;
  z-index: 2;
  @media screen and (min-width: 768px) {
    top: 0;
  }
  @media screen and (min-width: 1280px) {
    top: 147px;
  }
}

.hero__title {
  @include text('Titan One', 400, 26px, 30px);
  text-transform: uppercase;
  color: var(--focus-white);
  max-width: 218px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    @include text('Titan One', 400, 22px, 25px);
    max-width: 162px;
  }
  @media screen and (min-width: 1280px) {
    @include text('Titan One', 400, 38px, 44px);
    max-width: 277px;
    margin-bottom: 24px;
  }
}

.title__accent {
  @include text('Titan One', 400, 48px, 46px);
  color: var(--accent-text);
  @media screen and (min-width: 768px) {
    @include text('Titan One', 400, 34px, 30px);
  }
  @media screen and (min-width: 1280px) {
    @include text('Titan One', 400, 58px, 52px);
  }
}

.hero__button-list {
  display: flex;
}

.hero__button-item {
  @include transition();
  border-radius: 20px;
  background-color: var(--accent-text);
  &:hover,
  &:focus {
    background-color: var(--hover-btn-color);
  }
  &--inverse {
    background-color: var(--focus-white);
    &:hover,
    &:focus {
      background-color: var(--inverse-hover-btn-color);
    }
  }
}
.hero__button {
  @include text('DM Sans', 400, 8px, 10px);
  padding: 8px 15px;
  display: block;
  color: var(--focus-white);
  &--inverse {
    color: var(--accent-text);
  }
  @media screen and (min-width: 1280px) {
    @include text('DM Sans', 400, 14px, 18px);
    padding: 11px 23px;
  }
}

.hero__button-item + .hero__button-item {
  margin-left: 8px;
  @media screen and (min-width: 1280px) {
    margin-left: 12px;
  }
}
/*------------------------------NUMBERS-------------------------------*/
/*.hero__numb {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    right: 33px;
    top: -4px;
    text-align: right;
    width: 51px;
    height: 103px;
  }
}

.hero__second-text-numb {
  position: absolute;
  @include text('Titan One', 400, 28px, 32px);
  color: var(--accent-text);
  top: 0;
  right: 0;
  z-index: 1;
}

.hero__second-text {
  position: absolute;
  bottom: 0;
  right: 0;
  @include text('DM Sans', 400, 8px, 10px);
  color: var(--focus-white);
}

.numb__item {
  position: absolute;
  width: 51px;
  height: 43px;
  &--second {
    bottom: 0;
    left: 0;
  }
}

.numb__item::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--focus-white);
  position: absolute;
  top: -2px;
  right: -8px;
}*/

.hero-milk {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 152px;
    position: absolute;
    bottom: 17;
    z-index: 1;
  }
  @media screen and (min-width: 1280px) {
    width: 213px;
    bottom: 60;
  }
}

.hero__discrip {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    z-index: 3;
    max-width: 114px;
    bottom: 57px;
    left: 183px;
    @include text('DM Sans', 400, 8px, 12px);
    color: var(--focus-white);
  }
  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    z-index: 3;
    max-width: 200px;
    bottom: 84px;
    left: 229px;
    @include text('DM Sans', 400, 14px, 20px);
    color: var(--focus-white);
  }
}

.hero__button-arrow {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--focus-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
}

.button-arrow {
  fill: var(--accent-text);
}

.hero__numb {
  display: none;
  @media screen and (min-width: 768px) {
    position: absolute;
    right: 33px;
    top: -4px;
    display: block;
  }
  @media screen and (min-width: 1280px) {
    right: 16px;
    top: 153px;
  }
}

.numb__item {
  text-align: right;
  & + & {
    margin-top: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 15px;
  }
}

.hero__second-text-numb {
  position: relative;
  @include text('Titan One', 400, 28px, 32px);
  color: var(--accent-text);
  top: 0;
  right: 0;
  z-index: 1;
  @media screen and (min-width: 1280px) {
    @include text('Titan One', 400, 46px, 53px);
  }
  &::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--focus-white);
    position: absolute;
    top: -2px;
    right: -8px;
    z-index: -1;
    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;
      top: -7px;
      right: -12px;
    }
  }
}

.hero__second-text {
  @include text('DM Sans', 400, 8px, 10px);
  color: var(--focus-white);
  @media screen and (min-width: 1280px) {
    @include text('DM Sans', 400, 14px, 18px);
  }
}

.hero-tasty {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 190px;
    position: absolute;
    bottom: 0;
    right: 33px;
    z-index: 1;
  }
  @media screen and (min-width: 1280px) {
    width: 304px;
    right: 16px;
  }
}
