.backdrop {
  z-index: 1002;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.493);
  opacity: 1;
  transition: opacity 250ms var(--cubic),visibility 250ms var(--cubic);
} 

.modal-buy {

  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px 10px 20px 10px;
  transform: translate(-50%,-50%) scale(1);
  min-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  overflow-y: auto;
  background-color: var(--focus-white);
  transition: transform 250ms; 
  border: 1px solid var(--accent-salmon);
  box-shadow: 0px 0px 8px 2px rgba(212, 20, 67, 0.8);
  transition: transform 1000ms; 
  @media only screen and (min-width: 320px) {
    min-width: 0px;
    width: 300px;
  }
  @media only screen and (min-width: 768px) {
    width: 500px;
    padding: 50px 30px 50px 30px;
  
  }
 
  &__group {
    position: relative;
    margin-top: 15px;
    @media only screen and (min-width: 768px) {
      margin-top: 40px;
    }
  }
  &__title-group {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    @media only screen and (min-width: 768px) {
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      margin-bottom: 15px;
    }
    &.shak {
      color: #8CBD49;
    }
    &.cream {
      color: var(--accent);
    }
    &.coffee {
      color: #D6A359;
    }
  }
    &__title {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: var(--accent-text);
      @media only screen and (min-width: 768px) {
        font-weight: 400;
        font-size: 24px;
        text-align: center;
      }
      }
    &__fieldset:not(:last-child) {
      margin-bottom: 3px;
      @media only screen and (min-width: 768px) {
        margin-bottom: 10px;
      }
    }
    &__list {
      margin-top: 5px;
      padding: 10px 0px 10px 30%;
      @media only screen and (min-width: 768px) {
        padding: 15px 0px 15px 40%;
      }
      
      &.ice-cream {
        background-color: var(--fon);
      }
      &.ice-coffee {
        background-color: var(--dull-yellow);
      }
      &.milkshakes {
        background-color: var(--dull-green);
      }
    } 
  &__img {
    position: absolute;
    left: 0%;
    bottom: 5%;
    max-width: 25%;
    @media only screen and (min-width: 768px) {
      left: -2%;
      bottom: 5%;
      max-width: 40%;
    
    }
  }
  .backdrop.is-hidden  & {
    transform: translateX(100%);
}
}



.checkbox-label {
  padding-left: 8px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--focus-white);
  &:focus-within .checkbox-icon-border {
    fill: var(--accent-text);
  }
}

.modal-buy__lable {
  padding-left: 20px;
  color: var(--focus-white);
  transition: color  var(--cubic);

}
.is-hidden {
opacity: 0;
pointer-events: none;
visibility: hidden;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 20px;
  height: 20px;
  background: #fff;
  border: none;
  @media only screen and (min-width: 768px) {
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
  }
  &:hover, &:focus {
      cursor: pointer;
  }
  &__icon {
    fill: var(--accent-salmon);
    transition: fill 250ms var(--cubic);
    .modal-close-btn:hover & {
        fill: var(--accent-text);
    }
    .modal-close-btn:focus & {
      fill: var(--accent-text);
  }
  }
}

.modal-buy__fieldset {
  position: relative;
  &:focus-visible .checkbox-icon-border {
    fill: var(--accent-text);
  }
  &:focus-visible  .modal-buy__lable {
    color: var(--accent-text);
  }
}

.checkbox-label {
  display: flex;
  &:hover, &:focus  {
    color: var(--accent-text);
  }
  .checkbox-icon-border:hover & {
    color: var(--accent-text);
  }
  .checkbox-icon-border:focus & {
    color: var(--accent-text);
  }
  &:focus .checkbox-icon-border {
    fill: var(--accent-text);
  }
}


.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  &:hover ~ .modal-buy__lable {
    color: var(--accent-text);
  }
  &:focus ~ .modal-buy__lable {
    color: var(--accent-text);
  }
} 

.checkbox:checked ~ .checkbox-icon-border {
  display: none;
}

.checkbox:checked + .checkbox-icon-ice-cream {
  display: block;
}

.checkbox-icon-ice-cream {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--accent-text);
  display: none;

}
.checkbox-icon-border {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: fill  var(--cubic);

  display: block;
  &.shak {
    fill: #8CBD49;
  }
  &.cream {
    fill: var(--accent);
  }
  &.coffee {
    fill: #D6A359;
  }
  &:hover, &:focus  {
    fill: var(--accent-text);
  }
  .checkbox-label:hover & {
    fill: var(--accent-text);
  }
  .checkbox-label:focus & {
    fill: var(--accent-text);
  }
}

.modal-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

}

.modal-submit-btn {
  display: flex;
  width: 50%;
  height: 44px;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  font-family: DM Sans;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 700;
  line-height: 1.5;
  color: var(--focus-white);
  background-color:var(--accent-text);
  transition: background-color  var(--cubic);
  @media only screen and (min-width: 768px) {
    font-size: 18px;
    letter-spacing: 0.06em;
  }
  &:hover, &:focus {
      background-color: var(--hover-btn-color);
  }
}
.one-fild-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10px; 
    @media only screen and (min-width: 768px) {
      margin-top: 20px; 
    } 
}

.modal-form-label {
  margin-bottom: 4px;
  font-family: DM Sans;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--accent-text);
  @media only screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

.modal-form-fild {
  width: 100%;
  padding-left: 5px;
  height: 30px;
  border: 1px solid var(--comit-fon);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
  border-color: var(--comit-fon);
  &:hover, &:focus  {
      border-color: var(--accent-text);
  }

}

.comment {
  height: 120px;
  padding-left: 5px;
  padding-top: 5px;
  font-family: DM Sans;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid var(--comit-fon);
  border-radius: 4px;
  resize: none;
  &:hover, &:focus  {
    border-color: var(--accent-text);
  }
  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }
}
